# =============== #
# Unity generated #
# =============== #
Chronicles of Angel/[Tt]emp/
Chronicles of Angel/[Oo]bj/
Chronicles of Angel/[Bb]uilds/
Chronicles of Angel/[Ll]ibrary/
Chronicles of Angel/[Ll]ibrary_ANDROID/
Chronicles of Angel/[Ll]ibrary_PC/
Chronicles of Angel/[Ll]ibrary_IOS/
Chronicles of Angel/sysinfo.txt
Chronicles of Angel/UnityVS/
Chronicles of Angel/UnityVS.meta
Chronicles of Angel/LightingData*
Chronicles of Angel/ReflectionProbe*
Chronicles of Angel/Assets/Scenes/Personal Scenes*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Chronicles of Angel/[Ee]xported[Oo]bj/
Chronicles of Angel/*.userprefs
Chronicles of Angel/*.csproj
Chronicles of Angel/*.pidb
Chronicles of Angel/*.suo
Chronicles of Angel/*.sln*
Chronicles of Angel/*.user
Chronicles of Angel/*.unityproj
Chronicles of Angel/*.booproj

# ============
# OS generated
# ============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
